a{
    color: black;
    text-decoration: none;
}
p{
    /* width: 40%; */
    border: #8999d7d1 solid 2px;
}
#peivew span {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: .5rem 1rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -3rem;
}

.peivewactive {
    color: turquoise;
}
#banner{
    width: 95%;
    margin: 10px auto;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#banner img{
    width: 100%;
    
}
#Culture{
    padding:5rem  15%;
    height: 40rem;
    background-color:#85b974 ;
}
#Culture h1{
    color: aliceblue;
    font-size: 25px;
}
#Culture h2{
    color: #d8dfbb;
    font-size: 15px;
}
#Culture h3{
    color: #f3f7e7;
    font-size: 40px;
}
#Culture h4{
    color: #def38b;
    font-size: 20px;
}
#Culture div img{
    max-width: 100%;
}
#Culture div{
    height: 25rem;
    width: 40%;
    float: left;
    margin-left: 3rem;
}