a {
  color: black;
  text-decoration: none;
}
p {
  /* width: 40%; */
  border: #8999d7d1 solid 2px;
}

#preview {
  float: right;
  position: absolute;
  bottom: 50px;
  right: 8rem;
}

#preview .preview-active {
  border: solid white 1.5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
}

#banner img {
  transition: opacity 0.5s ease;
  width: 100%;
  /* height: 50rem; */
}
#banner > div {
  height: 45rem;
  overflow: hidden;
  display: flex;
  position: relative;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#preview div {
  width: 15px;
  height: 15px;
  background-color: aliceblue;
  float: left;
  margin: 0 5px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

#Culture {
  color: rgb(139, 224, 160);
  padding: 5rem 15%;
  height: 40rem;
  background: url(../img/bac74699e443242f53568639e031507.jpg) no-repeat center
    center;
  background-size: cover;
  position: relative;
}

#Culture img {
    width: 30%;
    /* float: left; */
    border-radius: 30px;
    margin: 5rem;
}
#Culture img:last-child{
    /* float: right; */
    position: absolute;
    right: 2rem;
    bottom: 4rem;
}
#Culture img:first-child {
  position: absolute;
  left: 2rem;
  top: 4rem;
}
#Culture div {
  /* height: 25rem;
    width: 40%;
    float: left;
    margin-left: 3rem;
    background-color: aliceblue; */
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
